@charset "UTF-8";

body{
	background: #E1F5FE;
	}
	
	
.navbar{
	font-family: 'Arial', sans-serif;
	}
	
.symbol {
	font-size: 24px;
	font-family: cursive;
	text-shadow: 2px 2px 3px #aaa;
}

.text-center{
	font-size: 24px;
	text-align: center;
	font-family: 'Arial', sans-serif;
	color: #0277BD;
}

textarea {
  resize: none;
}

.hero-section {
            background: url('https://images.unsplash.com/photo-1517841905240-472988babdf9') center/cover no-repeat;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-shadow: 0px 2px 8px rgba(0,0,0,0.7);
        }
 .overlay {
            background: rgba(0, 0, 0, 0.45);
            position: absolute;
            height: 80vh;
            width: 100%;
            top: 0;
            left: 0;
        }
.hero-content {
            position: relative;
            z-index: 2;
        }
.feature-icon {
            font-size: 40px;
            color: #0d6efd;
        }